@import "tailwindcss";

/* commone css */
.inter {
     font-family: "Inter", sans-serif;
}
.noto-serif {
    font-family: "Noto Serif", serif;
}

/* nav section */
*{
    background-color: rgb(245, 248, 255);
}
.nav-section {
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.link-bold {
    color: #252432;
}
header {
    margin-top: 2rem;
    margin: auto;
}
/* .................. */



.none {
    display: none;
}


/* .................. */


/* nav section */
.nav-section {
    display: flex;
    max-width: 1280px;
}
.list-parent {
    display: flex;
    gap: 3rem;
}

/* benner section */
.banner-left p {
    color: rgba(0, 0, 0, 0.50);
}
.banner {
    display: flex;
    max-width: 1280px;
    margin: auto;
    margin-top: 8rem;
}
.banner-left {
    margin-top: 80px;
}
.banner-left h1 {
    color: #000000;
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-left samp {
    color: #E95A08;
    font-weight: bold;
}
.banner-left {
    font-size: 1.3rem;
}
/* main card section */

.card-main {
    margin-top: 6rem;
}
.card-section {
    max-width: 1280px;
    margin: auto;
    margin-top: 1rem;
}
.single-cart h1 {
    color: #E95A08;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
.single-cart samp {
    color: #000000;
    font-size: 3.5rem;
    text-align: center;
    font-weight: bold;
}
.single-cart p {
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.25rem;
}
.all-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 4.5rem;
}
.shears-btn a {
    color: #ffffff;
    background-color: #E95A08;
    padding: 2px 85px;
}
.single-card-box h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.single-card-box h4{
    text-align: center;
    font-size: 1.5rem;
}

/* plants lover section */

.plants-lover-section {
    max-width: 1280px;
    margin: auto;
    display: flex;
    margin-top: 8rem;
    gap: 3.75rem;
    align-items: center;
}
.plants-lover-section h1 {
    font-size: 4.6rem;
    font-weight: 600;
}
.plants-lover-section ul li {
    list-style: inside;
    font-weight: 400;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.50);
}
.plants-lover-section img {
    width: 56.25rem;
}
/* plant photo section style */
 .plant-photo-section {
   display: flex;
   justify-content: center;
   gap: 20px;
   max-width: 1140px;
   margin: 0 auto;
   margin-bottom: 50px;

 }


 .off-title {
   font-size: 20px;
   font-weight: bold;
   color: white;
   background-color: transparent;
 }

 .plant-link {
   color: white;
   font-size: 16px;
   font-weight: 700;
   text-align: center;
   align-items: center;
   background-color: transparent;
 }

 .Off-style {
   font-size: 40px;
   font-weight: bold;
   color: white;
   background-color: transparent;
 }

 .plant-photo-title {
   text-align: center;
 }

 .photo-1 {
   background-image: url(assets/deal-bloom.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 367px;
   padding: 50px;
   margin-bottom: 30px;
   border-radius: 10px;

 }

 .photo-2 {
   background-image: url(assets/deal-ana.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 367px;
   padding: 50px;
   margin-bottom: 30px;
   border-radius: 10px;
 }

 .photo-3 {
   background-image: url(assets/deal-zabo.png);
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 753px;
   padding: 100px;
   padding-top: 130px;
   margin-bottom: 30px;
   border-radius: 10px;
}

/* join section */

 .join-title {
   font-size: 3rem;
   font-weight: bold;
   color: white;
   cursor: default;
   margin-bottom: 25px;
   margin-left: 150px;
   background-color: transparent;

 }

 .join-btn {
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 11px;
   padding-bottom: 9px;
   cursor: pointer;
   position: absolute;
   background-color: #E95A08;
   color: #ffffff;

 }

 .join-input {
   padding: 10px 440px 10px 20px;
   position: relative;
   background-color: white;
   color: rgb(0, 0, 0);
   align-items: center;

 }

 .join-section {
   max-width: 100%;
   max-height: 533px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   background-image: url(assets/news-letter-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   padding: 180px;
   padding-right: 230px;
   margin: 30px auto;

 }

 .join-items {
   max-width: 850px;
   margin-right: 150px;
   background-color: transparent;
 }



/* footer section */
footer .section-footer {
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4rem;
}
.section-footer p {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.50);
}
.section-footer div {
    display: grid;
}
.footer-logo {
    display: flex;
}

/* Resoponsive */
@media screen and (max-width:576px) {
    /* nav section */

    .nav-section {
        max-width: 85%;
        margin: auto;

        text-align: center;
        align-items: center;
    }

    /* banner section */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        max-width: 100%;
        margin: auto;
    }
    .banner h1{
        padding: 2rem;
        font-size: xx-large;
    }
    .banner p {
        padding: 2rem;
        font-size: xx-large;
        margin-top: -3rem;
    }

    /* Our Plants section */
    p.inter {
        max-width: 85%;
        margin: auto;
    }
    h1.noto-serif {
        font-size: 3rem;
    }

    samp.noto-serif {
        font-size: 3rem;
    }
    .inter p {
        max-width: 85%;
        margin: auto;
    }
    .all-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        /* margin-top: 4.5rem; */
        max-width: 85%;
        margin: auto;
    }
    .shears-btn a {
        padding: 0px 18px;
        font-size: 18px;
    }

    /* Lover Plants Sectoin */

    .plants-lover-section {
        display: flex;
        flex-direction: column;
        max-width: 85%;
    }


    /* latest deals */
    section.plant-photo-section {
        display: block;
    }
    .plant-photo-title.photo-3 {
        max-width: 85%;
        margin: auto;
    }
    .plant-photo-title.photo-1.photo-opacity {
        max-width: 85%;
        margin: auto;
        margin-top: 2rem;
    }

    .plant-photo-title.photo-2 {
        max-width: 85%;
        margin: auto;
        margin-top: 2rem;
    }

    .plant-photo-title.photo-3 {
        max-width: 85%;
        margin-top: 2rem;
    }
    h4.Off-style {
        font-size: 16px;
    }
    .plant-photo-title.photo-3 {
        width: 366px;
        height: 230px;
    }

    /* Join section */
    input.join-input {
        padding: 7px 50px 12px 42px;
        margin-left: 8px;
    }
    .Responsive-join {
        margin-left: 10px;
    }
    .join-title {
        font-size: 16px;
    }
    /* footer section */
    section.section-footer {
        max-width: 85%;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    .logo-img-footer {
        margin-bottom: 15px;
    }
    .section-footer p {
        margin-bottom: 20px;
    }
    .section-footer div {
        display: grid;
        gap: 20px;
    }
    .footer-logo {
        max-width: 216px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 30px;
        text-align: center;
        align-items: center;
        /* grid-template-rows: repeat(4, 1fr); */
    }


}